<h1>Edit bike</h1>
  
<form action="/users/{{bike._id}}/edit" method="POST" enctype="multipart/form-data">

  <label for="name">Nombre </label>
  <input type="text" name="name" value="{{bike.name}}">
  <br>
  <label for="weight">Peso </label>
  <input type="number" name="weight" value="{{bike.weight}}">
  <br>
  <label> Talla
  <select name="size" multipe="true">
         <option>infantil</option>
         <option>adolescente</option>
         <option>adulto</option>
  </select>
  </label>
  <label for="colour">Color </label>
  <input type="text" name="colour" value="{{bike.colour}}">
  <br>
  <label for="price">Precio </label>
  <input type="number" name="price" value="{{bike.price}}">
  <br>

  <label for="description">
    <textarea name="description" cols="30" rows="10" maxlength="150">{{bike.description}}</textarea>
  </label>
  <br>
  
  {{!-- botón subit archivo imagen --}}

  <button>Edit bike</button>

</form>
