<h1 class="main-title text-center">Bienvenid@ a tu perfil {{user.username}}</h1>
 {{#if user.deleteUser}}
    <p class="text-center error">{{banMessage}}</p>
 {{/if}}

<div class="banner flex">
    <a href="/users/profile/vendidas"><button>Bicis vendidas</button></a>
    <a href="/users/profile/compradas"><button>Bicis compradas</button></a>
    <a href="/users/create"><button>Vende una bici</button></a>
</div>

<h1 class="main-title text-center">Todas tus bicis</h1>
    {{#if user.favBikes}}
<section class="allBikes">
        {{#each user.favBikes}}
            <div class="bike-card">
                <div class="img-container">
                    <img src="{{this.image}}" alt="foto">
                </div>
                <h3>{{this.name}}</h3>
                <h4>{{this.size}}</h4>
                <p><span>Color: {{this.colour}}, </span><span>precio: {{this.price}}</span></p>
                <p>{{this.description}}</p>
                <small>Última actualización</small>
                {{#if this.isSold}}
                    <h1>Vendida</h1>
                {{/if}}
            <button><a href="/users/{{this._id}}/edit">Update your bike</a></button>
            <form action="/users/{{this._id}}/delete" method="post">
                <button>Delete the bike</button>
            </div>
            </form>
        {{/each}}
    </section>
    {{else}}
    <p class="text-center">Aún subido ninguna bici</p>
    {{/if}}
    

